<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://kevinbanchik.github.io/apps/test/driver</string>
		<key>displayImageURL</key>
		<string>https://github.com/kevinbanchik/kevinbanchik.github.io/blob/master/assets/img/favicon/favicon-16x16.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/kevinbanchik/kevinbanchik.github.io/blob/master/assets/img/favicon/android-chrome-512x512.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.magiis.app.test.driver</key>
		<string>HX DEV Test Driver</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Developer</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>T33288P88B</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
